header{
    display: flex;
    justify-content: space-between;
   
    
    background-color: #f2cdaf;
      
      
    color: white;
    list-style: none;
    border-bottom: 1px solid #bd7e4b;
}
main{
    background-color: #ddb99c;
    height: 800px;
    background-image: url("../../assets/img/mapache-pedro.gif");
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 3px;
    
}
li{
    margin-left: 20px;
    margin-top: 10px;
    display: block;
}
li:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}
.logo{
    display: flex;
}


.pedro{
   /*
    justify-content: center;
    align-items: center;
    margin-left: 400px;
  */
  display: flex;
  height: 150px;
  

}
